{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    {% if user.is_authenticated %}
    <h2>
        Все карточки
    </h2>
    <a href="{% url 'card-create' %}" role="button" style="color: black;">
        ✨ Новая карточка
    </a>
    {% for card in cards %}
        {% ifchanged %}
            <h3>🗃️ {{ card.box | ordinal }} ящик</h3>
        {% endifchanged %}
        {% include "cards/card.html" %}
    {% endfor %}
    {% else %}
        <a href="{% url 'login' %}" class="button">Войти</a>
        <a href="{% url 'registration' %}" class="button">Регистрация</a>
    {% endif %}
{% endblock content %}